/* table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20px auto;
    width: 70%;
} */

td {
    border: 1px solid black;
    padding: 10px;
}

.content {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20px auto;
    width: 70%;
}